<section>
  <img src="https://repository-images.githubusercontent.com/268463220/76860100-a5a2-11ea-95c9-26c90b1515d3">
    <h1>About WeatherApp</h1>
    <p>Welcome to WeatherApp, your go-to source for accurate and up-to-date weather information. Whether you're planning your day, organizing an outdoor event, or simply curious about the weather, WeatherApp has everything you need to stay informed.</p>
  </section>
<a  id="get"routerLink="/we"><button style="color: rgb(10, 10, 232);">Get Weather</button></a>
<!-- <button id="get" routerLink="/we" mat-raised-button color="primary" (click)="get()">Get Weather</button> -->
  <section>
    <h1>Key Features</h1>
    <ul>
      <li>Real-time Weather Updates</li>
      <li>Humidity</li>
      <li>Hourly Updates for Pressure</li>
      <li>Global Location Support</li>
    
    </ul>
  </section>

  <footer>
    <div class="footer-content">
      <div class="contact-info">
        <h2>Contact Us</h2>
        <p>Email: support@weatherapp.com</p>
        <p>Phone: +1 (123) 456-7890</p>
      </div>
      <div class="social-links">
        <h2>Follow Us</h2>
        <ul>
          <li><a href="#" target="_blank">Facebook</a></li>
          <li><a href="#" target="_blank">Twitter</a></li>
          <li><a href="#" target="_blank">Instagram</a></li>
     
        </ul>
      </div>
    </div>
    <p class="footer-text">&copy; 2023 WeatherApp. All rights reserved.</p>
  </footer>
  
  